NODE_ENV=development
PORT=3001

# Opcion A: API corriendo fuera de Docker y PostgreSQL en docker-compose
DB_HOST=localhost
DB_PORT=5434
DB_NAME=app_database
DB_USER=app_user
DB_PASSWORD=app_password

# Opcion B: API corriendo dentro de docker-compose
# DB_HOST=db
# DB_PORT=5432

# Opcion C: URL completa para Render u otro proveedor
# DATABASE_URL=postgresql://usuario:password@host:5432/base
# DB_SSL=true

JWT_SECRET=cambiar_por_una_clave_larga
CORS_ORIGIN=http://localhost:3000
