.sidebar{
    width:240px;
    background:#0d0d0d;

    display:flex;
    flex-direction:column;

    gap:15px;

    padding:30px 20px;

    border-right:1px solid #171717;
}

.sidebar a{
    color:#9f9f9f;
    padding:18px;
    border-radius:18px;
    cursor:pointer;

    transition:.3s;
}

.sidebar a:hover{
    background:#171717;
    color:white;
}

.sidebar a.active{
    background:#c1121f;
    color:white;
}