.stats{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;

    margin-bottom:30px;
}

.card{
    background:#0d0d0d;

    border:1px solid #171717;
    border-radius:25px;

    padding:40px;
}

.card span{
    color:#d90429;
    font-size:4rem;
    font-weight:700;
}

.card p{
    color:#a0a0a0;
    margin-top:20px;
}