.navbar{
    height:80px;
    background:#080808;
    border-bottom:1px solid #171717;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 40px;
}

.logo{
    color:white;
    letter-spacing:4px;
}

.user-section{
    display:flex;
    align-items:center;
    gap:18px;
}

.user-name{
    color:white;
    font-size:15px;
    font-weight:600;
    padding:10px 18px;
    border:1px solid #1f1f1f;
    border-radius:15px;
    background:#111;
}

.navbar button{
    background:#c1121f;
    color:white;

    border:none;
    padding:14px 24px;

    border-radius:15px;
    cursor:pointer;

    font-weight:600;
    transition:.3s;
}

.navbar button:hover{
    background:#e5383b;
}